<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%= form_with url: '/', method: :get, local: true do |f| %>
  <%= f.label(:airport_id, "From: ") %>
  <%= f.collection_select('search[from_id]', @airports, :id, :name) %>
  <%= f.label(:airport_id, "To: ") %>
  <%= f.collection_select('search[to_id]', @airports, :id, :name) %><br />
  <%= f.label(:passengers, "Passengers: ") %>
  <%= f.select('search[passengers]', options_for_select([[1,1],[2,2],[3,3],[4,4]]))%><br />
  <%= f.label(:flight_date, "Date: ") %>
  <%= f.select('search[date]', options_for_select(@dates)) %>
  <%= f.submit "Search" %>
<% end %>

<%= @flight %>

<% if @search_results %>
  <ul>
    <% @search_results.each do |flight| %>
      <li>From: <%= flight.from_airport.name %></li>
      <li>To: <%= flight.to_airport.name %></li>
      <li>To: <%= flight.start_time %></li>
      <li>To: <%= flight.duration %></li><br />
    <% end %>
  </ul>
<% end %>
