<h1>Booking</h1>

<%= form_with model: @booking, local: true do |f| %>
  <%= f.fields_for :flight do |flight_form| %>
    <%= flight_form.label :date %>
    <%= text_field :flight, :start_time %><br />
    <%= flight_form.label :id %>
    <%= text_field :flight, :id %><br />
  <% end %>

  <%= f.fields_for :passengers do |pass_form| %>
    <%= pass_form.label :name %>
    <%= pass_form.text_field :name %><br />
    <%= pass_form.label :email %>
    <%= pass_form.text_field :email %><br />
  <% end %>

  <%= f.submit %>
<% end%>